// @font-face{
//   font-family: 'Gotham Pro Black';
//   src:url(../../static/fonts/GothamProBlack.eot);
//   src:url(../../static/fonts/GothamProBlack.eot) format('embedded-opentype'),
//   url(../../static/fonts/GothamProBlack.woff) format('woff'),
//   url(../../static/fonts/GothamProBlack.ttf) format('truetype');
//   font-weight:400;font-style:normal
// }

// @font-face{
//   font-family: 'Gotham Pro Black Italic';
//   src:url(../../static/fonts/GothamProBlackItalic.eot);
//   src:url(../../static/fonts/GothamProBlackItalic.eot) format('embedded-opentype'),
//   url(../../static/fonts/GothamProBlackItalic.woff) format('woff'),
//   url(../../static/fonts/GothamProBlackItalic.ttf) format('truetype');
//   font-weight:400;font-style:normal
// }

// @font-face{
//   font-family: 'Gotham Pro Bold';
//   src:url(../../static/fonts/GothamProBold.eot);
//   src:url(../../static/fonts/GothamProBold.eot) format('embedded-opentype'),
//   url(../../static/fonts/GothamProBold.woff) format('woff'),
//   url(../../static/fonts/GothamProBold.ttf) format('truetype');
//   font-weight:400;font-style:normal
// }

// @font-face{
//   font-family: 'Gotham Pro Bold Italic';
//   src:url(../../static/fonts/GothamProBoldItalic.eot);
//   src:url(../../static/fonts/GothamProBoldItalic.eot) format('embedded-opentype'),
//   url(../../static/fonts/GothamProBoldItalic.woff) format('woff'),
//   url(../../static/fonts/GothamProBoldItalic.ttf) format('truetype');
//   font-weight:400;font-style:normal
// }

// @font-face{
//   font-family: 'Gotham Pro Italic';
//   src:url(../../static/fonts/GothamProItalic.eot);
//   src:url(../../static/fonts/GothamProItalic.eot) format('embedded-opentype'),
//   url(../../static/fonts/GothamProItalic.woff) format('woff'),
//   url(../../static/fonts/GothamProItalic.ttf) format('truetype');
//   font-weight:400;font-style:normal
// }

// @font-face{
//   font-family: 'Gotham Pro Light';
//   src:url(../../static/fonts/GothamProLight.eot);
//   src:url(../../static/fonts/GothamProLight.eot) format('embedded-opentype'),
//   url(../../static/fonts/GothamProLight.woff) format('woff'),
//   url(../../static/fonts/GothamProLight.ttf) format('truetype');
//   font-weight:400;font-style:normal
// }

// @font-face{
//   font-family: 'Gotham Pro Light Italic';
//   src:url(../../static/fonts/GothamProLightItalic.eot);
//   src:url(../../static/fonts/GothamProLightItalic.eot) format('embedded-opentype'),
//   url(../../static/fonts/GothamProLightItalic.woff) format('woff'),
//   url(../../static/fonts/GothamProLightItalic.ttf) format('truetype');
//   font-weight:400;font-style:normal
// }

// @font-face{
//   font-family: 'Gotham Pro Medium';
//       src:url(../../static/fonts/GothamProMedium.eot);
//       src:url(../../static/fonts/GothamProMedium.eot) format('embedded-opentype'),
//       url(../../static/fonts/GothamProMedium.woff) format('woff'),
//       url(../../static/fonts/GothamProMedium.ttf) format('truetype');
//   font-weight:400;font-style:normal
// }

// @font-face{
//   font-family: 'Gotham Pro Medium Italic';
//   src:url(../../static/fonts/GothamProMediumItalic.eot);
//   src:url(../../static/fonts/GothamProMediumItalic.eot) format('embedded-opentype'),
//   url(../../static/fonts/GothamProMediumItalic.woff) format('woff'),
//   url(../../static/fonts/GothamProMediumItalic.ttf) format('truetype');
//   font-weight:400;font-style:normal
// }

@font-face{
  font-family: 'Gotham Pro Regular';
  src:url(../../static/fonts/GothamProRegular.eot);
  src:url(../../static/fonts/GothamProRegular.eot) format('embedded-opentype'),
  url(../../static/fonts/GothamProRegular.woff) format('woff'),
  url(../../static/fonts/GothamProRegular.ttf) format('truetype');
  font-weight:400;font-style:normal
}
