// @font-face{
//   font-family: 'Gotham Pro Black';
//   src:url(../../static/media/GothamProBlack.eot);
//   src:url(../../static/media/GothamProBlack.eot) format('embedded-opentype'),
//   url(../../static/media/GothamProBlack.woff) format('woff'),
//   url(../../static/media/GothamProBlack.ttf) format('truetype');
//   font-weight:400;font-style:normal
// }

// @font-face{
//   font-family: 'Gotham Pro Black Italic';
//   src:url(../../static/media/GothamProBlackItalic.eot);
//   src:url(../../static/media/GothamProBlackItalic.eot) format('embedded-opentype'),
//   url(../../static/media/GothamProBlackItalic.woff) format('woff'),
//   url(../../static/media/GothamProBlackItalic.ttf) format('truetype');
//   font-weight:400;font-style:normal
// }

// @font-face{
//   font-family: 'Gotham Pro Bold';
//   src:url(../../static/media/GothamProBold.eot);
//   src:url(../../static/media/GothamProBold.eot) format('embedded-opentype'),
//   url(../../static/media/GothamProBold.woff) format('woff'),
//   url(../../static/media/GothamProBold.ttf) format('truetype');
//   font-weight:400;font-style:normal
// }

// @font-face{
//   font-family: 'Gotham Pro Bold Italic';
//   src:url(../../static/media/GothamProBoldItalic.eot);
//   src:url(../../static/media/GothamProBoldItalic.eot) format('embedded-opentype'),
//   url(../../static/media/GothamProBoldItalic.woff) format('woff'),
//   url(../../static/media/GothamProBoldItalic.ttf) format('truetype');
//   font-weight:400;font-style:normal
// }

// @font-face{
//   font-family: 'Gotham Pro Italic';
//   src:url(../../static/media/GothamProItalic.eot);
//   src:url(../../static/media/GothamProItalic.eot) format('embedded-opentype'),
//   url(../../static/media/GothamProItalic.woff) format('woff'),
//   url(../../static/media/GothamProItalic.ttf) format('truetype');
//   font-weight:400;font-style:normal
// }

// @font-face{
//   font-family: 'Gotham Pro Light';
//   src:url(../../static/media/GothamProLight.eot);
//   src:url(../../static/media/GothamProLight.eot) format('embedded-opentype'),
//   url(../../static/media/GothamProLight.woff) format('woff'),
//   url(../../static/media/GothamProLight.ttf) format('truetype');
//   font-weight:400;font-style:normal
// }

// @font-face{
//   font-family: 'Gotham Pro Light Italic';
//   src:url(../../static/media/GothamProLightItalic.eot);
//   src:url(../../static/media/GothamProLightItalic.eot) format('embedded-opentype'),
//   url(../../static/media/GothamProLightItalic.woff) format('woff'),
//   url(../../static/media/GothamProLightItalic.ttf) format('truetype');
//   font-weight:400;font-style:normal
// }

// @font-face{
//   font-family: 'Gotham Pro Medium';
//       src:url(../../static/media/GothamProMedium.eot);
//       src:url(../../static/media/GothamProMedium.eot) format('embedded-opentype'),
//       url(../../static/media/GothamProMedium.woff) format('woff'),
//       url(../../static/media/GothamProMedium.ttf) format('truetype');
//   font-weight:400;font-style:normal
// }

// @font-face{
//   font-family: 'Gotham Pro Medium Italic';
//   src:url(../../static/media/GothamProMediumItalic.eot);
//   src:url(../../static/media/GothamProMediumItalic.eot) format('embedded-opentype'),
//   url(../../static/media/GothamProMediumItalic.woff) format('woff'),
//   url(../../static/media/GothamProMediumItalic.ttf) format('truetype');
//   font-weight:400;font-style:normal
// }

@font-face{
  font-family: 'Gotham Pro Regular';
  src:url(../../static/media/GothamProRegular.eot);
  src:url(../../static/media/GothamProRegular.eot) format('embedded-opentype'),
  url(../../static/media/GothamProRegular.woff) format('woff'),
  url(../../static/media/GothamProRegular.ttf) format('truetype');
  font-weight:400;font-style:normal
}
