.app {
    width: 100%;
    max-width: 1920px;
    min-height: 100vh;
    display: flex;
    margin: auto;
    background-image: url(../../static/img/bg_img.jpg);
    background-size: cover;
    
    &__wrapper {
        display: flex;
        background: $mainColor-whitetransparent95;
    }
}



@media only screen and (max-width: 1000px) {
    .app {
        background: none;
    }
    
    .app__wrapper {
        flex-direction: column;
    }
}