// Font
// $mainFontMedium: 'Gotham Pro Medium', Helvetica, Arial, sans-serif;
// $mainFontBold: 'Gotham Pro Bold', Helvetica, Arial, sans-serif;
$mainFontRegular: 'Gotham Pro Regular', Helvetica, Arial, sans-serif;

//Color
$mainColor-white: #fff;
$mainColor-whitetransparent95: #fffffff2;
$mainColor-bgGrey: #eaeaea;
$mainColor-borderGrey: #a6a6a6;
$mainColor-borderGrey_active: #1d68d9;
$mainColor-borderGrey_active-transparent20: #6ba6ff33;
$mainColor-boxShadow: #00000033;